/* Theme customization */
:root {
    --md-primary-fg-color: #0052CC;
    --md-primary-fg-color--light: #4C9AFF;
    --md-primary-fg-color--dark: #0747A6;
    --md-text-color: #172B4D;
    --md-default-bg-color: #F4F5F7;
}

/* Mobile adjustments */
@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title {
        background-color: var(--md-default-bg-color);
        height: auto;
        padding: 8px;
    }
}